body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.theme {
  background-color: rgb(0, 0, 0);
}

.themeColor {
  color: rgb(0, 0, 0);
}

.productName {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px !important;
}

.navItems {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#landingPageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#WelcomeElContainer {
  border-radius: 5px;
  padding: auto;
  margin: auto;
}

#landingPage-BlueImage {
  width: 100%;
  margin-top: 10em;
}

#welcomeText {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  margin: auto;
  margin-top: 3em;
  width: 100%;
}

#welcomeDescription {
  font-size: 1.5em;
  color: #fff;
  margin: 1em auto;
  text-align: center;
}

#welcomeButton {
  margin: 1em auto;
  text-align: center;
  font-size: 40px;
  padding: 0.25em;
  width: 100%;
  border-radius: 0.25em
}

.productName {
  font-size: 1.5em;
  text-align: center;
  margin-left: 0.5em;
}

.signInBtn {
  margin-right: 1em;
}

.pageSize {
  width: 100%;
  margin-bottom: 10vh;
}

.Heading {
  text-align: center;
  font-size: 5em;
  margin-top: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

#featuresContainer {
  margin: 6em;
  text-align: center;
  float: left;
  padding: 0px !important;
}

#features-subContainer{
  justify-content: center;
}

.featuresImage {
  width: 25%;
  margin: 0px !important;
}

.ContactPane{
  margin-top: 25vh !important;
  text-align: center;
  
}

.ContactPane::a{
  text-decoration: none;
  height: 100%;
}

.ContactPaneImages{
  width: 50%;
  margin-left:5%;
  margin-bottom:10%;
}

@media (max-width: 600px){
  /* .featuresImage {
      width: 30%;
  } */
}

@media (max-width: 766px){
  .ContactPane{
      margin-top: 23px !important;
      text-align: center;
  }
  .ContactPaneImages{
      width: 30%;
      margin-top: 25%;
      margin-left: 0;
      margin-bottom: 5%;
  }
}

@media (max-width: 1000px){
  .featuresImage {
      width: 70%;
  }
}